.hello {
    background: linear-gradient(to top, papayawhip, ivory, white);
    height: 100%;
}
h1, h2 {
  font-weight: normal;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 6px;
}

.selected { font-style: italic;}
.buttonized {
    padding: 6px;
    border: 2px;
    border-radius: 1rem;
    background-color: darkgreen;
    color: ivory;
    font-weight: bold;
}

a { color: darkgreen; }
.card { background: linear-gradient(to top, gainsboro, snow); }
